<h1>Edit the Prehistoric Creature w /Id of: <%= phcId %> </h1>
<h2> Current Creature Type: <%= creature.type %></h2>
<h2> Current Creature Image:</h2>
<img src= <%= creature.img_url %> width='500' height='300'> <br>
<!-- action = WHERE to place the info when the form is submitted -->
<!-- method = WHAT to do when the form is submitted (either GET OR POST) -->

<h3>Replace with new submission</h3>
<form action='/prehistoric_creatures/edit/:idx' method='GET'>
    <!-- FOR has to match the ID of the input -->
    <label for='phcType'>Type:</label>
    <input type='text' name='type' id='phcType'>

    <label for='phcImage'>Image Link:</label>
    <input type='text' name='img_url' id='phcImage'>

    <!-- allows you to submit without needing to create click functionality for a button -->
    <input type='submit'>
</form>


